.small-image-container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.small-image {
  height: 80px;
  width: 79px;
  object-fit: contain;
  cursor: pointer;
}

.small-image-out {
  height: 80px;
  width: 79px;
  object-fit: contain;
  cursor: pointer;
  opacity: 0.5;
}

.big-image-container {
  width: 610px;
  height: 511px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big-image-out {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
}

.outofstock-sign {
  position: absolute;
  color: #8d8f9a;
  font-size: 40px;
}
