nav {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

.category {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.active-link {
  color: rgb(60, 192, 89);
}
