.listing-page {
  position: relative;
  top: 80px;
}

.listing-page-title {
  margin-left: 100px;
  text-transform: capitalize;
}

.listing-page-products {
  display: grid;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  grid-row-gap: 50px;
  margin-bottom: 100px;
  text-decoration: none;
}

.listing-page-product {
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-self: center;
  align-items: center;
  border: solid black 2px;
}

.listing-page-link {
  display: grid;
  grid-template-columns: 67% 16% 17%;
  grid-template-rows: 84% 8% 8%;
  width: 250px;
  height: 250px;
}

.listing-page-image {
  width: 100%;
  height: 100%;
  border: solid black 2px;
  object-fit: contain;
  object-position: center;
  grid-area: 1/1 / span 2 / span 3;
}

.added-products {
  grid-area: 2/2 / span 2 / span 1;
  background-color: darkgreen;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.added-cart {
  color: white;
}
